#login-popup{
    top: 50%;
    transform: translate(-50%, -50%);
}

#forgot-password {
    font-size: 12px;
    color: var(--base-color);
    width: max-content;
}

#forgot-password:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}