#map {
  height: 92%;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  width: 100%;
  margin: 0;
}

.navbar a {
  transition: 0.5;
  float: left;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

a:last-of-type {
  margin-left: auto;
}

#current-city {
  color: white;
  position: absolute;
  transform: translate(-50%, -0);
  left: 50%;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}



.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}


.fancy-button {
  position: relative;
  background-color: #333;
  border: 2px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}


#mouseSelectionArea {
  border: 5px dotted #000;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* Center the login popup */
#loginPopup {
  position: absolute;
  
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  /* Ensure popup is above other elements */
}

.ahashakeheartache {
  animation: kf_shake 0.4s 1 linear;
}

@keyframes kf_shake {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  20%, 40%, 60%, 80% {
    transform: translate(-50%, -50%) translateX(0);
  }
  30% {
    transform: translate(-50%, -50%) translateX(30px);
  }
  50% {
    transform: translate(-50%, -50%) translateX(-30px);
  }
  70% {
    transform: translate(-50%, -50%) translateX(15px);
  }
  90% {
    transform: translate(-50%, -50%) translateX(-15px);
  }
}
