<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkPulse</title>

    <link rel="stylesheet" href="/static/notifications/notifications.css" type="text/css">
    <link rel="stylesheet" href="/static/popup/popup.css" type="text/css">
    <link rel="stylesheet" href="/static/password-reset/password-reset.css" type="text/css">
    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <script src="/static/notifications/notifications.js"></script>
    <script src="/static/password-reset/password-reset.js"></script>
    <script src="/static/popup/popup.js"></script>
</head>

<body>

    <form class="popup" id="enter-email-popup">
        <div class="popup-header">
            <h1 class="popup-title">Reset Your Password</h1>
            <p class="popup-subtitle">Enter your email to receive a reset link.</p>
        </div>

        <div class="popup-body">
            <input type="hidden" name="serverlocation" id="serverlocation" value="{{ serverlocation }}" disabled>
            <input type="hidden" name="redirectpage" id="redirectpage" value="{{ redirectpage }}" disabled>

            <label class="custom-field">
                <input class="custom-input" type="text" id="email" placeholder="&nbsp;"
                    onsubmit="requestPasswordReset()" />
                <span class="placeholder">Enter Email</span>
                <span class="border"></span>
            </label>

            <input id="submit-button" value="Reset My Password" type="button" onclick="requestPasswordReset()">
            <!-- Specify type="button" to prevent form submission -->

        </div>
    </form>



    <ul class="notifications">
        <!-- li toast -->
    </ul>

    <div id="spinner"></div>
    
    <div id="signature">
        <p>Created by Marius Bjørhei</p>
        <p>Contact: marius.bjorhei@gmail.com</p>
    </div>
</body>

</html>