<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkPulse</title>

    <link rel="stylesheet" href="/static/notifications/notifications.css" type="text/css">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="stylesheet" href="/static/signup/signup.css" type="text/css">
    <link rel="stylesheet" href="/static/popup/popup.css" type="text/css">

    <script src="/static/notifications/notifications.js"></script>
    <script src="/static/signup/signup.js"></script>
    <script src="/static/popup/popup.js"></script>
</head>

<body>

    <form class="popup" id="password-reset-popup">
        <div class="popup-header">
            <h1 class="popup-title">Reset Your Password</h1>
        </div>

        <div class="popup-body">
            <input type="hidden" name="token" id="token" th:value="${token}" disabled>
            <input type="hidden" name="redirectpage" id="redirectpage" th:value="${redirectpage}" disabled>

            <label class="custom-field disabled">
                <div class="disabled-overlay"></div>
                <input class="custom-input" type="text" id="username" th:value="${email}" disabled />
            </label>

            <label class="custom-field">
                <input class="custom-input" type="password" id="password" placeholder="&nbsp;"
                    onkeyup="updatePasswordRequirements('password-reset-popup')" />
                <span class="placeholder">Create New Password</span>
                <span class="border"></span>
                <p id="password-visibility" onclick="togglePasswordVisibility()">SHOW</p>
            </label>


            <label class="custom-field">
                <input class="custom-input" type="password" id="confirm_password" placeholder="&nbsp;"
                    onkeyup="updatePasswordRequirements('password-reset-popup')" />
                <span class="placeholder">Confirm New Password</span>
                <span class="border"></span>
            </label>

            <br>

            <div id="password-requirements">
                <div class="requirement invalid" id="has-letter">
                    <span></span>
                    <p>At least one lowercase letter</p>
                </div>

                <div class="requirement invalid" id="has-capital">
                    <span></span>
                    <p>At least one uppercase letter</p>
                </div>

                <div class="requirement invalid" id="has-number">
                    <span></span>
                    <p>At least one number</p>
                </div>

                <div class="requirement invalid" id="has-special">
                    <span></span>
                    <p>At least one special character (!@#$%^&*)</p>
                </div>

                <div class="requirement invalid" id="has-length">
                    <span></span>
                    <p>Minimum 8 characters</p>
                </div>
            </div>

            <input id="signup-submit-button" class="submit-button" value="Reset Password" type="button" onclick="signupSubmit(
                'Password reset successfully! Redirecting to login page...',
                'This link is invalid or has expired. Please request a new password reset link.',
                'password-reset-popup'
            )">
            <!-- Specify type="button" to prevent form submission -->

        </div>
    </form>



    <ul class="notifications">
        <!-- li toast -->
    </ul>

    <div id="spinner"></div>

    <div id="signature">
        <p>Created by Marius Bjørhei</p>
        <p>Contact: marius.bjorhei@gmail.com</p>
    </div>
</body>

</html>