.toggle-container,
#control-panel,
.dropdown-element {
    background-color: #444;
}
#control-panel {
    position: absolute;
    display: flex;
    width: fit-content;
    z-index: 2;
    width: 100%;
    text-align:center;
    pointer-events: none;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-element {
    transition: 0.5;
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-transform: capitalize;
}

.fancy-button {
    position: relative;
    transition: 0.2s ease-out;
    float: left;
    color: white;
    font-size: 16px;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 1;
}

.fancy-button:hover {
    background-color: red;
}

#help-button {
    position:absolute; 
    right:0%;
    visibility: hidden;

}

#current-city {
    margin: 0;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2.5em;
    text-transform: capitalize;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 50px;
  height: 20px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 70px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #70c094;
  transition: 0.3s ease all;
  z-index: 1;
}

.toggle-button .knobs:before {
  content: "";
  position: absolute;
  left:30px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px;
  background-color: #00ff62;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.toggle-button .checkbox:checked + .knobs:before {
  content: "";
  left: 0px;
  background-color: #ff1100;
}

.toggle-button .checkbox:checked ~ .layer {
  background-color: #f1a3a3;
}

.toggle-button .knobs,
.toggle-button .knobs:before,
.toggle-button .layer {
  transition: 0.3s ease all;
}