
.submit-button {
    background-color: var(--base-color);
    border-width: 0;
    border-radius: 20px;
    color:white;
    font-size:16px;

    padding: 15px;
    margin: 10px;
    align-content: center;
    text-align: center;
    box-shadow: none;
    font-weight: bold;
    nav-index: 1;
}


.submit-button:hover {
    background-color: #146972;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

.custom-field {
    position: relative;
    font-size: 20px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    --field-padding: 12px;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    outline: none;
    font-size: 20px;
}

.custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    font-size: 16px;
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.custom-field input.dirty+.placeholder,
.custom-field input:focus+.placeholder,
.custom-field input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 12px;
    color: #222;
}

.custom-field input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
        linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat,
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
        linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
}

.custom-field input.dirty,
.custom-field input:not(:placeholder-shown),
.custom-field input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.custom-field input:disabled {
    background-color: gray;
    opacity: 0.7;
}

.custom-input {
    width: 100%;
}

.disabled-overlay {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    z-index: 100;
    opacity: 0.5;
    transition: 1s linear ease;
}
.disabled-overlay:hover {
    background-color: rgb(184, 184, 184);
}

#password-visibility {
    position: absolute;
    right: 0;
    margin-right: 1em;
    color: var(--base-color);
}

.popup {
    position: absolute;
    
    top: 25%;
    left: 50%;
  
    transform: translateX(-50%);

    width: 30%;
    max-width: 450px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: 30px;

    background-color: white;
    
    border-radius: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100;/* Ensure popup is above other elements */
}


.popup-header {
    position: relative;

    margin:0;
    padding: 10px;
    
    text-align: center;

    background-color: var(--base-color);
    border-radius: 20px;
    
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.popup-title {
    margin: 10px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    color:white;
}

.popup-subtitle {
    font-size: 14px;
    color: #fff;
    transform: translateY(-0.5em);
    font-weight: bold;
}

.popup-body {
    display: flex;
    flex-direction: column;
    padding:30px;
    padding-top: 0;
}