.control-panel {
    position: absolute;
    background-color: #444;
    display: flex;
    width: fit-content;
    z-index: 2;
    width: 100%;
    text-align:center;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-element {
    transition: 0.5;
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    background-color: #444;
    text-transform: capitalize;
}

.fancy-button {
    position: relative;
    transition: 0.2s ease-out;
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 1;
}

.fancy-button:hover {
    background-color: red;
}

#current-city {
    margin: 0;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2.5em;
}