.valid p,
.valid span::before {
    color: green;
    content: "✓"
}

.invalid p, 
.invalid span::after {
    color: red;
    content: "✗"
}

.requirement {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
    width: max-content;
    font-size: 14px;
    line-height: normal;
}

#password-requirements {
    display: flex;
    flex-direction: column;
}
